/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 2em;
    text-align: center;
  }

  @font-face {
    font-family: calculatorFont;
    src: url(font-family/Digital7Mono-Yz9J4.ttf);
  }
  
  body {
    font-family: calculatorFont;
    line-height: 1.5;
    color: white;
    background-color: gray;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
  
  ul {
    list-style: none;
  }
  
  input, textarea, button {
    font-family: inherit;
  }
  
  .calculator {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    margin: auto;
    position: relative;
    top: 200px;
    background-color: #333;
    border-radius: 25px;
    box-shadow: -2px 2px 2px black;
  }
  .screen {
    overflow: hidden;
    width: 230px;
    height: 60px;
    background-color: rgb(173, 171, 171);
    margin: 25px auto 0 auto;
    border-radius: 25px;
    color: greenyellow;
    font-size: 1.2em;
    padding-right: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: -5px 5px 2px black;
    text-shadow: 2px 2px 5px green;
  }

  .button-side {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 230px;
    width: 250px;
    margin: 20px auto 2px auto;
    gap: 7px;
  }

  .button {
    height: 47px;
    width: 47px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: -5px 5px 2px black;
  }

  .container {
    display: flex;
    width: 85%;
    margin: auto;
  }

  .erase {
    font-size: 0.9em;
    padding-top: 4px;
  }

  .clear-button, .equal {
    height: 47px;
    width: 46%;
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    margin: auto;
  }

  .button:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
  }

  .operator {
    background-color: rgb(99, 98, 98);
  }

  .equal {
    background-color: rgb(99, 98, 98);
  }

  .clear {
    background-color: orangered;
  }